@import url('https://fonts.googleapis.com/earlyaccess/opensanshebrew.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Lato:400';

body{
  font-family: 'Open Sans Hebrew';
}

h3,h4,h5,button{
  font-family: 'Roboto', sans-serif;

}

nav .navbar-toggler, .navbar-toggler:focus{
  border-style: none!important;
}

nav .navbar-toggler:focus{
  box-shadow: 0 0 30px rgba(200,200,225,0.8)!important
}

nav .navbar-toggler-icon{
  background-image: url("../images/menu-bar.png");
}

nav .underline{
  width: 70px;
  height: 2px;
  background-color: white;
}

nav a{
  color: white!important;
  font-size: 20px!important
}

nav a.active{
  font-weight: bold;
}

nav a:not(.active):hover{
  color: #00B5E2!important;
  font-size: 20px!important
}

nav:has(.show){
  transition: 0.3s;
  background-color: white;
}

nav:has(.collapsing){
  transition: 0.3s;
  background-color: white;
}

#banner-section{
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: 30% 25%;
  height: 100vh;
  margin-top: -145px;
  overflow: hidden;
}

#banner-section h3{
  font-size: 100px;
  text-shadow: 5px 5px 0px #00B5E2
}

#banner-section p{
  font-size: 40px;
  line-height: 40px;
  margin-top: -10px;
}

#banner-section button{
  border-radius: 200px;
  font-size: 28px;
  color:white;
  padding: 5px 30px;
  background-color: #00B5E2;
}

#form-section button{
  border-radius: 200px;
  font-size: 28px;
  color:white;
  padding: 5px 30px;
  background-color: #00B5E2;
}

#plans-section button{
  border-radius: 200px;
  font-size: 28px;
  color:white;
  padding: 5px 20px;
  background-color: #00B5E2;
  margin-bottom: 40px;
  margin-top: -20px!important;
}

#banner-section button:hover{
  border-radius: 200px;
  font-size: 28px;
  color:white;
  padding: 5px 30px;
  background-color: #20d2ff;
}

#d-line{
  margin-top: -40vh;
}

#about-section{
  background-color: white;
  height: 100vh;
}

/* xl or smaller screens */

@media (max-width: 1201px) {
  #banner-section{
    background-position: 50% 25%!important;
  }
}

/* lg or smaller screens */

@media (max-width: 991px) {
  #banner-section{
    background-position: 25% 0vh!important;
    min-height: 600px;
    height: 90vh;
  }

  #d-line{
    display: none
  }

  #banner-section .col{
    padding: 0px 5vw!important
  }

  #banner-section h3{
    margin-top: 30%;;
    font-size: 10vw
  }

  #banner-section p{
    font-size: 4vw;
    line-height: 4vw;
  }

  #banner-section button{
    font-size: 4vw;
    line-height: 6vw;
  }

  #banner-section button{
    margin-top: -15px!important;
  }

  nav a.active{
    text-align: left!important;
    margin-left: 20px
  }

  nav a{
    color: black!important;
  }

  .navbar-brand.expanded{
    filter: brightness(0);
    transition-delay: 0.3s;
    transition: 0.3s;
  }

  .navbar-brand:not(.expanded){
    transition-delay: 0.3s!important;
    transition: 0.3s;
  } 
}

/* md or smaller screens */

@media (max-width: 769px) {
  #banner-section{
    background-position: 25% 0vh!important;
    min-height: 600px;
    height: 80vh;
  }

  #banner-section h3{
    margin-top: 30vh;
    font-size: 17vw
  }
  
  #banner-section p{
    margin-top: 3vw;
    font-size: 6vw
  }

  #banner-section button{
    width: 90vw;
    font-size: 8vw;
    line-height: 9vw;
  }
}
.navbar-brand img{
  width: 50vw!important;
  max-width: 250px;
  min-width: 180px;
}

.expanded + .navbar-toggler{
  filter: brightness(0);
  transition: 0.3s;
}

.navbar-brand:not(.expanded) + .navbar-toggler{
  transition: 0.3s;
  transition-delay: 0.3s!important;
}

#about-section{
  position: relative
}

.circle{
  position:absolute;
  background-color: #00B5E2;
  border-radius: 50%;
  z-index: 9;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2)
}

#about-section .circle{
  top: -80px; 
  left: -20%;
  width: 550px;
  height: 550px;
}

#about-section img{
  position: relative;
  object-fit: cover;
  margin-top: 50px;
  margin-left: 10%;
  width: 450px;
  height: 450px;
  z-index: 10
}

#values-section h3, #next-section h3{
  font-size: 60px;
  color: #02206A;
  margin-bottom: 20px
}

#plans-section h3, #plans-section h3{
  font-size: 60px;
  color: #02206A;
  margin-bottom: 20px

}

#about-section h3{
  font-size: 60px;
  color: #02206A;
}

#values-section p, #next-section p{
  font-size: 20px;
  color: #02206A;
  padding-bottom: 100px;
 }

 #plans-section p, #plans-section p{
  font-size: 20px;
  color: #02206A;
  padding-bottom: 100px;
 }

 #form-section p, #form-section p{
  font-size: 20px;
  color: #02206A;
  padding-bottom: 100px;
 }

 #about-section p{
  padding-right: 20%;
  font-size: 20px;
  color: #02206A;
 }

 .carousel-item{
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 80px
 }

 .carousel-indicators button{
  background-color: #02206A !important;
  width: 10px!important;
  height: 10px!important;
  border-radius:50%;
 }

 .carousel-indicators button.active{
  background-color: #02206A !important;
  width: 15px!important;
  height: 15px!important;
  border-radius:50%;
  margin-top: -2.5px
 }

 .carousel-control-next{
  transform: rotate(180deg);
 }

 @keyframes example {
  0%   {top:-100px}
  100% {top:0px}
}

 .sticky-top{
  background: linear-gradient(180deg, rgba(32,52,102,0) 0%, rgba(255,255,255,0) 88%);
  background-position-y: -150px!important;
  transition: background 200ms;
}

 .sticky-top.scrolled {
  background-position-y: 0px!important;
  background-repeat: no-repeat!important;
  background: linear-gradient(180deg, rgba(33,41,65,0.9094012605042017) 0%, rgba(61,71,99,0.665703781512605) 31%, rgba(255,255,255,0) 90%);
  transition: background-position-y 300ms;
}

.sticky-top.scrolled .nav-link {
  color:#555;
}

#services-section{
  background-image: url(../images/background.png);
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.trans-end{
  transform: rotate(180deg);
}

#services-section p{
  font-size: 20px;
  color: #02206A;
  padding-bottom: 100px;
 }

 #services-section h3{
  font-size: 60px;
  color: #02206A;
  margin-bottom: 20px
}

#services-section h4{
  font-size: 35px;
  color: #02206A;
  margin-bottom: -10px;
}

.separator-left{
  background-color: #02206A;
  height: 5px;
  width: 150px;
  margin-left: auto;
  border-radius: 20px;
  margin-right: -30px;
}

.separator-right{
  background-color: #02206A;
  height: 5px;
  width: 150px;
  margin-right: auto;
  border-radius: 20px;
  margin-left: -30px;  
}

.service-card{
  background-color: white;
  width: 300px;
  height: 350px;
  border-radius:5%;
  margin: 50px auto 50px auto;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  transform-style: preserve-3d;
  transition: ease 500ms;
}

.col-3:hover .service-card{
  transform: rotateY(180deg);
  transition: ease 500ms;
  cursor: pointer;
}

.services-btn{
  background: linear-gradient(180deg, #02206A 0%, #3151A0 78%);
  border-radius: 40px;
  border-style: none;
  color:white;
  padding: 10px 20px 10px 35px;
  font-size: 30px;
  transition: linear 200ms;
}

.services-btn:hover{
  margin: -5px 0px 5px 0px;
  transition: linear 200ms;
  filter: brightness(1.2);
}

.button-icon{
  filter: brightness(100);
  transform: rotate(180deg);
}

.card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-back{
  transform: rotateY(180deg);
  background: linear-gradient(180deg, #02206A 0%, #3151A0 78%);
  border-radius:5%;
  padding-left: 20px;
  padding-right: 20px;
}

.service-card h5{
  font-size: 32px;
}

.card-front h5{
  color: #00B5E2;
  margin-bottom: 50px;
}

.card-back h5,.card-back p{
  color: #ffffff!important;
}

.card-back h5{
  margin-top: 50px;
  margin-bottom: 20px;
}

.card-back p{
  padding-bottom: 0px!important;
  margin-bottom: auto;
}

.service-card button{
  background: unset;
  background-color: white;
  color: #02206A;
  margin-bottom: 30px;
  font-size: 20px;
  padding: 8px 10px 8px 20px
}

.service-card button:hover{
  margin-bottom: 35px;
  margin-top: -5px;
}

.service-card .button-icon{
  filter: unset;
  transform: rotate(180deg);
  width: 25px;
}

.icon-back{
  width: 150px;
  height: 150px;
  background-color: #00B5E2;
  border-radius: 50%;
  box-shadow: 0px 0px 15px inset rgba(0, 0, 0, 0.2);
  padding: 25px;
  margin-bottom: auto;
  margin-top: 50px;
}

#instagram-section{
  position: relative;
  overflow: hidden;
  padding-bottom: 50px
 }

#instagram-section p{
  font-size: 22px;
  color: #02206A
 }

 #questions-section p, #questions-section ul{
  font-size: 18px;
  color: #02206A
 }

 #instagram-section h3{
  font-size: 60px;
  color: #02206A;
  margin-bottom: 20px;
}

#footer p{
  font-size: 22px;
  color: white
 }

#footer strong{
  font-size: 30px;
  color: white
}

 #footer h3{
  font-size: 60px;
  color: white;
  margin-bottom: 20px;
  margin-top: 30px

}

#instagram-section h4{
  font-size: 35px;
  color: #02206A;
  margin-bottom: -10px;
}

#instagram-section .container{
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  padding: 50px 50px;
  margin: 50px auto 100px auto;
  border-radius: 20px;
}

#instagram-section button{
  background-color: white;
  border-style: none;
  border-radius: 50%;
  margin: 0px 10px 0px 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2) inset;
  padding: 16px;
}

#instagram-section button:hover > img{
  filter: grayscale(1) brightness(10);
  transition: ease 200ms;
}

#instagram-section .facebook:hover{
  background-color: #1778F2
}

#instagram-section .whatsapp:hover{
  background-color: #25D366
}

#instagram-section .instagram:hover{
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
filter:brightness(1.7) saturate(1.8);
}

.profilepicture{
  background-color: #02206A;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2)
}

.social-icons{
  padding-top: 50px
}

.post{
  width: 150px;
  height: 150px;
  background-color: #02206A;
  filter: opacity(0.8);
  margin: 10px
}

.posts{
  padding-top: 30px
}

.username p{
  font-size: 30px!important;
}

#instagram-section .circle{
  top: 60%; 
  left: 85%;
  width: 300px;
  height: 300px;
  margin-right:-200px
}

.state{
  filter:grayscale(1);
  width: 200px;
}

.state-small{
  filter:grayscale(1);
  width: 250px;
}

#hotlinks-section a{
  color:#02206A;
  font-size: 20px;
  font-weight: 600;
}

#hotlinks-section{
  margin-top: 100px!important
}

#hotlinks-section .col{
  transition: ease 200ms;
  margin-top: 15px
}

#hotlinks-section .col:hover{
  margin-top: 10px!important;
  padding-bottom: 5px!important;
  transition: ease 200ms;
}

#footer{
  background-image: url(../images/Footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.chart--container {
  min-height: 530px;
  width: 100%;
  height: 100%;
}

.controls {
  margin-left: auto;
  margin-right: auto;
}

.zc-ref {
  display: none;
}

.range input{
	-webkit-appearance:none;
	width:400px;
	height:4px;
	border-radius:5px;
	background-color: #02206A;
	outline:none;
}
.range input::-webkit-slider-thumb{
	-webkit-appearance:none;
	width:20px;
	height:20px;
	border-radius:50%;
	background-color:#062257;
}

.rangeslider{
  display: flex!important;
  align-items: center;
  flex-wrap: wrap;
}

#internet{
  color: #02206A;
  font-family: 'Open Sans Hebrew';
  font-weight: 200;
  font-size: 50px
}

#output{
  font-family: 'Roboto', sans-serif;
  font-size: 90px
}

#cost{
  font-family: 'Open Sans Hebrew';
  font-size: 50px;
  font-weight: 500;
}

#myChart-license-text{
  display: none!important
}



#banner2-section{
  background-image: url("../images/banner2.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: 30% 0%;
  height: 100vh;
  margin-top: -145px;
  overflow: hidden;
}

#banner2-section h3{
  font-size: 100px;
  text-shadow: 5px 5px 0px #00B5E2
}

#banner2-section p{
  font-size: 40px;
  line-height: 40px;
  margin-top: -10px;
}

#banner2-section button{
  border-radius: 200px;
  font-size: 28px;
  color:white;
  padding: 5px 30px;
  background-color: #00B5E2;
}

#banner2-section button:hover{
  border-radius: 200px;
  font-size: 28px;
  color:white;
  padding: 5px 30px;
  background-color: #20d2ff;
}

#banner2-section #d-line{
  margin-top: -90vh;
  margin-left: 80vw;
  transform: rotate(-120deg);
  filter: brightness(100);
}

.service-section p{
  padding-right: 20%;
  font-size: 20px;
  color: #02206A;
 }

 .service-section h3{
  font-size: 60px;
  color: #02206A;
}

.service-section .rounded-circle2,.service-section .rounded-circle{
  position: relative;
  object-fit: cover;
  margin-top: 50px;
  margin-left: 10%;
  width: 450px;
  height: 450px;
  z-index: 10
}

.service-section .circle.right{
  position: absolute!important;
  top: 0px; 
  left: 80%;
  width: 450px;
  height: 450px;
}

.service-section{
  position: relative;
  background-color: white;
  overflow: hidden;
}

.service-section .rounded-circle2{
  object-fit: cover;
  object-position: 0% 0%;
  border-radius: 100%;
}

#service2-section h3, #service2-section p{
  margin-left: 150px;
  padding-right: 0px!important
}

#service2-section button{
  margin-left: 150px;
}

#service1-section h3, #service1-section p{
  margin-left: 150px;
  padding-right: 0px!important
}

#service1-section button{
  margin-left: 150px;
}

#service4-section h3, #service4-section p{
  margin-left: 150px;
  padding-right: 0px!important
}

#service4-section button{
  margin-left: 150px;
}

.servicespage.services-btn{
  background: linear-gradient(180deg, #02206A 0%, #3151A0 78%);
  border-radius: 40px;
  border-style: none;
  color:white;
  padding: 10px 20px 10px 35px;
  font-size: 30px;
  transition: linear 200ms;
}

#simulate-section p{
  padding-right: 20%;
  font-size: 20px;
  color: #02206A!important;
 }

#simulate-section h3{
  font-size: 60px;
  color: #02206A;
}

#simulate-section .simulation-title{
  margin-bottom: -120px;
}

#simulate-section #myChart{
  margin-bottom: -100px
}

#simulate-section{
  margin-bottom: 100px;
}

.d-circle{
  position:absolute;
  width: 450px;
  top: 20px;
  margin-left: -50px
}

#banner3-section{
  background-image: url("../images/banner3.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: 30% 25%;
  height: 100vh;
  margin-top: -145px;
  overflow: hidden;
}

#banner3-section h3{
  font-size: 100px;
  text-shadow: 5px 5px 0px #00B5E2
}

#banner3-section p{
  font-size: 40px;
  line-height: 40px;
  margin-top: -10px;
}

#banner3-section button{
  border-radius: 200px;
  font-size: 28px;
  color:white;
  padding: 5px 30px;
  background-color: #00B5E2;
}

#banner3-section button:hover{
  border-radius: 200px;
  font-size: 28px;
  color:white;
  padding: 5px 30px;
  background-color: #20d2ff;
}

#banner3-section #d-line{
  margin-top: -50vh;
  margin-left: -10vw;
  filter: brightness(100);
}

.service-section .circle.right.b2b{
  position: absolute!important;
  top: 50px; 
  left: 80%;
  width: 450px;
  height: 450px;
}

#service2-section.b2b .rounded-circle{
  object-fit: cover;
  object-position: 0% 100%;
  border-radius: 100%;
}

#banner3-section{
  background-image: url("../images/banner3.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: 30% 25%;
  height: 100vh;
  margin-top: -145px;
  overflow: hidden;
}

#banner3-section h3{
  font-size: 100px;
  text-shadow: 5px 5px 0px #00B5E2
}

#banner3-section p{
  font-size: 40px;
  line-height: 40px;
  margin-top: -10px;
}

#banner3-section button{
  border-radius: 200px;
  font-size: 28px;
  color:white;
  padding: 5px 30px;
  background-color: #00B5E2;
}

#banner3-section button:hover{
  border-radius: 200px;
  font-size: 28px;
  color:white;
  padding: 5px 30px;
  background-color: #20d2ff;
}

#banner3-section #d-line{
  margin-top: -50vh;
  margin-left: -10vw;
  filter: brightness(100);
}









#banner4-section{
  background-image: url("../images/banner4.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: 30% 25%;
  height: 100vh;
  margin-top: -145px;
  overflow: hidden;
}

#banner4-section h3{
  font-size: 100px;
  text-shadow: 5px 5px 0px #00B5E2
}

#banner4-section p{
  font-size: 40px;
  line-height: 40px;
  margin-top: -10px;
}

#banner4-section button{
  border-radius: 200px;
  font-size: 28px;
  color:white;
  padding: 5px 30px;
  background-color: #00B5E2;
}

#banner4-section button:hover{
  border-radius: 200px;
  font-size: 28px;
  color:white;
  padding: 5px 30px;
  background-color: #20d2ff;
}

#banner4-section #d-line{
  margin-top: -50vh;
  margin-left: -10vw;
  filter: brightness(100);
}

#questions-section button {
  background-color: #00B5E2;
  color: white!important;
  font-size: 20px;
  border-radius: 10px!important
}

#questions-section .container{
  margin: 100px!important
}

#questions-section .accordion-item{
  margin-top: 20px;
  border-radius: 10px!important;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  border-style: none;
  transition: linear 200ms;
}

#questions-section button:hover{
  background-color: #1ec7f1;
  transition: linear 200ms;
}

#questions-section button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#questions-section h3{
  font-size: 60px;
  color: #02206A;
  margin-bottom: 50px
}

#questions-section p, #questions-section ul{
  font-size: 18px;
  color: #02206A
 }

 .plan{
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  margin: 0px 15px;
  border-radius: 25px;
  padding: 0px 0px
 }

 .plans{
  margin: 0px 10vw
 }

 #plans-section h4, #plans-section h4{
  font-size: 30px;
  color: #ffffff;
  padding-bottom: 20px;
  padding-top: 40px;
  background-color: #00B5E2;
  border-radius: 25px 25px 0px 0px;
  width: 100%!important
}