@import url('https://fonts.googleapis.com/earlyaccess/opensanshebrew.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
  font-family: 'Open Sans Hebrew';
}

h3,h4,h5,button{
  font-family: 'Roboto', sans-serif;

}

nav .navbar-toggler, .navbar-toggler:focus{
  border-style: none!important;
}

nav .navbar-toggler:focus{
  box-shadow: 0 0 30px rgba(200,200,225,0.8)!important
}

nav .navbar-toggler-icon{
  background-image: url("../images/menu-bar.png");
}

nav .underline{
  width: 70px;
  height: 2px;
  background-color: white;
}

nav a{
  color: white!important;
  font-size: 20px!important
}

nav a.active{
  font-weight: bold;
}

nav a:not(.active):hover{
  color: #00B5E2!important;
  font-size: 20px!important
}

nav:has(.show){
  transition: 0.3s;
  background-color: white;
}

nav:has(.collapsing){
  transition: 0.3s;
  background-color: white;
}

#banner-section{
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: 30% 25%;
  height: 100vh;
  margin-top: -145px;
  overflow: hidden;
}

#banner-section h3{
  font-size: 100px;
  text-shadow: 5px 5px 0px #00B5E2
}

#banner-section p{
  font-size: 40px;
  line-height: 40px;
  margin-top: -10px;
}

#banner-section button{
  border-radius: 200px;
  font-size: 28px;
  color:white;
  padding: 5px 30px;
  background-color: #00B5E2;
}

#banner-section button:hover{
  border-radius: 200px;
  font-size: 28px;
  color:white;
  padding: 5px 30px;
  background-color: #20d2ff;
}

#d-line{
  margin-top: -40vh;
}

#about-section{
  background-color: white;
  height: 100vh;
}

/* xl or smaller screens */

@media (max-width: 1201px) {
  #banner-section{
    background-position: 50% 25%!important;
  }
}

/* lg or smaller screens */

@media (max-width: 991px) {
  #banner-section{
    background-position: 25% 0vh!important;
    min-height: 600px;
    height: 90vh;
  }

  #d-line{
    display: none
  }

  #banner-section .col{
    padding: 0px 5vw!important
  }

  #banner-section h3{
    margin-top: 30%;;
    font-size: 10vw
  }

  #banner-section p{
    font-size: 4vw;
    line-height: 4vw;
  }

  #banner-section button{
    font-size: 4vw;
    line-height: 6vw;
  }

  #banner-section button{
    margin-top: -15px!important;
  }

  nav a.active{
    text-align: left!important;
    margin-left: 20px
  }

  nav a{
    color: black!important;
  }

  .navbar-brand.expanded{
    filter: brightness(0);
    transition-delay: 0.3s;
    transition: 0.3s;
  }

  .navbar-brand:not(.expanded){
    transition-delay: 0.3s!important;
    transition: 0.3s;
  } 
}

/* md or smaller screens */

@media (max-width: 769px) {
  #banner-section{
    background-position: 25% 0vh!important;
    min-height: 600px;
    height: 80vh;
  }

  #banner-section h3{
    margin-top: 30vh;
    font-size: 17vw
  }
  
  #banner-section p{
    margin-top: 3vw;
    font-size: 6vw
  }

  #banner-section button{
    width: 90vw;
    font-size: 8vw;
    line-height: 9vw;
  }
}
.navbar-brand img{
  width: 50vw!important;
  max-width: 250px;
  min-width: 180px;
}

.expanded + .navbar-toggler{
  filter: brightness(0);
  transition: 0.3s;
}

.navbar-brand:not(.expanded) + .navbar-toggler{
  transition: 0.3s;
  transition-delay: 0.3s!important;
}

#about-section{
  position: relative
}

.circle{
  position:absolute;
  top: -80px; 
  left: -20%;
  background-color: #00B5E2;
  border-radius: 50%;
  width: 550px;
  height: 550px;
  z-index: 9;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2)
}

#about-section img{
  position: relative;
  object-fit: cover;
  margin-top: 50px;
  margin-left: 10%;
  width: 450px;
  height: 450px;
  z-index: 10
}

#values-section h3{
  font-size: 60px;
  color: #02206A;
  margin-bottom: 20px
}

#about-section h3{
  font-size: 60px;
  color: #02206A;
}

#values-section p{
  font-size: 20px;
  color: #02206A;
  padding-bottom: 100px;
 }

 #about-section p{
  padding-right: 20%;
  font-size: 20px;
  color: #02206A;
 }

 .carousel-item{
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 80px
 }

 .carousel-indicators button{
  background-color: #02206A !important;
  width: 10px!important;
  height: 10px!important;
  border-radius:50%;
 }

 .carousel-indicators button.active{
  background-color: #02206A !important;
  width: 15px!important;
  height: 15px!important;
  border-radius:50%;
  margin-top: -2.5px
 }

 .carousel-control-next{
  transform: rotate(180deg);
 }

 @keyframes example {
  0%   {top:-100px}
  100% {top:0px}
}

 .sticky-top{
  background: linear-gradient(180deg, rgba(32,52,102,0) 0%, rgba(255,255,255,0) 88%);
  background-position-y: -150px!important;
  transition: background 200ms;
}

 .sticky-top.scrolled {
  background-position-y: 0px!important;
  background-repeat: no-repeat!important;
  background: linear-gradient(180deg, rgba(33,41,65,0.9094012605042017) 0%, rgba(61,71,99,0.665703781512605) 31%, rgba(255,255,255,0) 90%);
  transition: background-position-y 300ms;
}

.sticky-top.scrolled .nav-link {
  color:#555;
}

#services-section{
  background-image: url(../images/background.png);
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.trans-end{
  transform: rotate(180deg);
}

#services-section p{
  font-size: 20px;
  color: #02206A;
  padding-bottom: 100px;
 }

 #services-section h3{
  font-size: 60px;
  color: #02206A;
  margin-bottom: 20px
}

#services-section h4{
  font-size: 35px;
  color: #02206A;
  margin-bottom: -10px;
}

.separator-left{
  background-color: #02206A;
  height: 5px;
  width: 150px;
  margin-left: auto;
  border-radius: 20px;
  margin-right: -30px;
}

.separator-right{
  background-color: #02206A;
  height: 5px;
  width: 150px;
  margin-right: auto;
  border-radius: 20px;
  margin-left: -30px;  
}

.service-card{
  background-color: white;
  width: 300px;
  height: 350px;
  border-radius:5%;
  margin: 50px auto 50px auto;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  transform-style: preserve-3d;
  transition: ease 500ms;
}

.col-3:hover .service-card{
  transform: rotateY(180deg);
  transition: ease 500ms;
  cursor: pointer;
}

.services-btn{
  background: linear-gradient(180deg, #02206A 0%, #3151A0 78%);
  border-radius: 40px;
  border-style: none;
  color:white;
  padding: 10px 20px 10px 35px;
  font-size: 30px;
  transition: linear 200ms;
}

.services-btn:hover{
  margin: -5px 0px 5px 0px;
  transition: linear 200ms;
  filter: brightness(1.2);
}

.button-icon{
  filter: brightness(100);
  transform: rotate(180deg);
}

.card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-back{
  transform: rotateY(180deg);
  background: linear-gradient(180deg, #02206A 0%, #3151A0 78%);
  border-radius:5%;
}

.card-front h5{
  color: #00B5E2;
  font-size: 32px;
}

.icon-back{
  width: 150px;
  height: 150px;
  background-color: #00B5E2;
  border-radius: 50%;
  box-shadow: 0px 0px 15px inset rgba(0, 0, 0, 0.2);
  padding: 25px
}
